# General
.DS_Store

# Python
**/__pycache__/
**/*.py[oc]
**/*.egg-info
.venv/
ctc-balance-py/.venv/

# Rust
ctc-balance-rs/target/

# Data & Output
my_accounts.txt
happymine_accounts.txt

# Common output directories (Python & Rust)
**/output/*
!**/output/block_cache.json
